## SMC++ configuration file

[population parameters]
# effective population size
N0 = 10000

# mutation rate per base pair per generation
mu = 1.25e-8

# recombination rate / bp / gen
rho = 3.125e-9

[hidden states]
# The hidden states for this model. You can directly specify them via:
#    hidden states = [0, h_1, ..., h_M]
# Alternatively, you can set
# resulting in hidden states equaling the 20 quantiles of the
# exponential distribution on the interval [0, M). 
M = 40
hM = 8000.

[model]
# Pieces which will allow for exponential growth.
exponential-pieces = [0]

# The model will be piecewise defined with break points
#    0 = t_0 < t_1 < ... < t_K < \infty
# As with the hidden states, you can either set the vector t
# directly, or specify K and t_K for log-uniform spacing.
pieces = 2*4+30*1
t1 = 40.0
tK = 40000.0

## These parameters affect the technical workings of the model and should
## be modified with care.
[advanced]
# How often to emit the full conditional SFS? Setting thinning to equal
# an integer <k> will emit it every k-th site. The default is to emit at
# every n-th site.
# thinning = n

# Number of EM iterations to run
em-iterations = 20

# Stopping criterion for L-BFGS-B algorithm.
lbfgs-factor = 1e9

# Regularization penalty for Q function.
lambda-penalty = 0.01

# Bounds on coalescent effective population sizes
Nmin = 1000
Nmax = 1000000
