*.pyc
__pycache__
*.swp
archive
_pypsmcpp.so
_pypsmcpp.cpp
test_sfs
test_sfs_dbg
build/
.gdb_history
*.so
build/
src/_expm.cpp
.moran.dat
src/*.o
valgrind-python.supp
environ.sh
.nfs*
.moran_model.dat
.ipynb_checkpoints/
ccache.log
