*.pyc
__pycache__
*.swp
archive
_smcpp.so
test_sfs
test_sfs_dbg
build/
.gdb_history
*.so
build/
src/*.o
valgrind-python.supp
environ.sh
.nfs*
.ipynb_checkpoints/
ccache.log
dist/
.Rhistory
.eggs
smcpp.egg-info
.cache
src/.release_time
