# SMC++ configuration file

[parameters]
# effective population size
N0: 10000

# mutation rate per base pair per generation
mu = 1.25e-8

# recombination rate / bp / gen
rho: 3.125e-9

[hidden states]
# The hidden states for this model. You can directly specify them via:
#    hidden states: [0, h_1, ..., h_M]
# hidden states: [ 0., .005, 0.018228,  0.113512,  0.13695 ,  0.15189 ,  0.166255,  0.183154,  0.210278,  0.243332,  0.293502,
#        0.396004,  0.543074,  0.718456,  0.896869,  1.066346,  1.220847,  1.361748,  1.494655,  1.61777 ,  1.737886,
#        1.84219 ,  1.863576,  1.885465,  1.907882,  1.930852,  1.954404,  1.978567,  2.003375,  2.028863,  2.055069,
#        2.082034,  2.109805,  2.13843 ,  2.167964,  2.198467,  2.230003,  2.262647,  2.296478,  2.331586,  2.36807 ,
#        2.406045,  2.445636,  2.486987,  2.530262,  2.575649,  2.623364,  2.67366 ,  2.726831,  2.783227,  2.843264,
#        2.907444,  2.976382,  3.050842,  3.131784,  3.220446,  3.318457,  3.428024,  3.552241,  3.695639,  3.865243,
#        4.072821,  4.340436,  4.717618,  5.362415,       14.9]
# Alternatively, you can set
M:  40
h_M: 14.9
# resulting in hidden states equaling the 20 quantiles of the
# exponential distribution on the interval [0, M).
# M: 64
# h_M: 14.9

[model parameters]
# Should we fit a piecewise exponential or piecewise constant model?
# Note that selecting piecewise exponential doubles the amount of
# parameters to be fitted.
piecewise exponential: False

# The model will be piecewise defined with break points
#    0 = t_0 < t_1 < ... < t_K < \infty
# As with the hidden states, you can either set the vector t
# directly, or specify K and t_K for log-uniform spacing.
# ts = [0., 0.002   ,  0.008   ,  0.021   ,  0.13    ,  0.23    ,  2.      ,  2.1]
K: 4+2+2+22*1
t_1 = 0.002
t_K = 2.2

[advanced]
# These parameters affect the technical workings of the model and should
# be modified with care.
block size: 100

# Minimum block size, in coalescent units
minimum block size: 0.01

# How often to emit the full conditional SFS? Setting thinning to equal
# an integer <k> will emit it every k-th site. The default is to emit at
# every n-th site.
# thinning: 20
use hj: True

factr: 1e9

lambda penalty: 0.01
